body {
  font-family: sans-serif;
  color: #444444;
}

.content {
  margin-top: 10px;
  width: 40%;
  padding: 0 30%;
}

input {
  border-radius: 10px;
  border: none;
  padding: 6px 16px;
  outline: none;
}

button {
  border-radius: 10px;
  border: none;
  padding: 4px 10px;
  margin-left: 8px;
  color: #444444;
}

button:hover {
  background-color: #fdd000;
  color: #fff;
  cursor: pointer;
}

li {
  margin-right: 8px;
}

.input-area {
  background-color: #0068b7;
  width: 500px;
  min-height: 30px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.member-area {
  background-color: #9fd9f6;
  width: 500px;
  min-height: 300px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.shuffled-area {
  background-color: #fdd000;
  width: 500px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.title {
  margin: 0;
  font-weight: bold;
}

.list-row {
  display: flex;
  align-items: center;
}
